body {
    background-image: url("background2.png");
  }
  h1 {
    text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
    background-color: beige;
}